# This program is to extract past HK horse racing schedule from PDF

In [7]:
import tabula
import pandas as pd

In [9]:
list_sch= tabula.read_pdf("../data/raw/schedule_17-18.pdf", pages='1',pandas_options={'header': 0})
df=list_sch[0]
df

Error from tabula-java:
Error: Error: Header doesn't contain versioninfo

CalledProcessError: Command '['java', '-Djava.awt.headless=true', '-Dfile.encoding=UTF8', '-jar', '/Users/Hei/opt/anaconda3/lib/python3.8/site-packages/tabula/tabula-1.0.4-jar-with-dependencies.jar', '--pages', '1', '--guess', '--format', 'JSON', '../data/raw/date_s2021.csv']' returned non-zero exit status 1.

In [6]:
list_sch

[]

In [6]:
df_date=df['DATE']+df['Unnamed: 0']
df_date

0           NaN
1           NaN
2      Sun 3Sep
3      Wed 6Sep
4     Sun 10Sep
5     Wed 13Sep
6     Sat 16Sep
7           NaN
8     Wed 20Sep
9     Sun 24Sep
10    Wed 27Sep
11          NaN
12          NaN
13          NaN
14     Sun 1Oct
15          NaN
16     Thu 5Oct
17          NaN
18     Sun 8Oct
19          NaN
20    Wed 11Oct
21          NaN
22    Sat 14Oct
23          NaN
24    Wed 18Oct
25          NaN
26    Sun 22Oct
27    Wed 25Oct
28    Sun 29Oct
29          NaN
30          NaN
31       Wed 1v
32          NaN
33       Sun 5v
34          NaN
35       Wed 8v
36          NaN
37      Sat 11v
38          NaN
39      Wed 15v
40          NaN
41      Sun 19v
42          NaN
43      Wed 22v
44          NaN
45      Sun 26v
dtype: object

In [3]:
#Extract pdf data into dataframe
sch = pd.concat([df['DATE'],df['DATE.1']],axis=0)
df_sch= pd.DataFrame({'date':sch[1:]}).reset_index(drop=True)
df_sch

          date
0    Sun 2 Sep
1    Wed 5 Sep
2    Sun 9 Sep
3   Wed 12 Sep
4   Sun 16 Sep
..         ...
94   Mon 1 Jul
95   Wed 3 Jul
96   Sun 7 Jul
97  Wed 10 Jul
98  Sun 14 Jul

[99 rows x 1 columns]

In [4]:
#Get correct data format
df_sch.dropna(inplace=True) #dropna before split date columns
df_sch=pd.DataFrame([ x.split() for x in df_sch['date'].tolist() ]) #split date column into seperate columns
df_sch[['weekofday','day','mon']]=df_sch
df_sch.drop(columns=[0,1,2,'weekofday'],inplace=True) #remove unwanted columns
df_sch.dropna(inplace=True) #dropna after split date columns
df_sch.reset_index(inplace=True,drop=True)

In [5]:
def mon_to_digit(month):
    if month=='Jan':
        d='01'
    elif month=='Feb':
        d='02'
    elif month=='Mar':
        d='03'
    elif month=='Apr':
        d='04'
    elif month=='May':
        d='05'
    elif month=='Jun':
        d='06'
    elif month=='Jul':
        d='07'
    elif month=='Aug':
        d='08'
    elif month=='Sep':
        d='09'
    elif month=='Oct':
        d='10'
    elif month=='Nov':
        d='11'
    elif month=='Dec':
        d='12'
    return d

In [6]:
#Create year column and transform mon to string
year=['2018']*33+['2019']*55
df_sch['year'] = pd.Series(year)
df_sch['mon'] = df_sch['mon'].apply(mon_to_digit)
df_sch=df_sch[['year','mon','day']]
df_sch

    year mon day
0   2018  09   2
1   2018  09   5
2   2018  09   9
3   2018  09  12
4   2018  09  16
..   ...  ..  ..
83  2019  07   1
84  2019  07   3
85  2019  07   7
86  2019  07  10
87  2019  07  14

[88 rows x 3 columns]

In [7]:
df_sch.to_csv('data/raw/schedule_2018.csv',index=None)