In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [10]:
df=pd.read_csv('../data/race_eda.csv')
df.columns

Index(['race_id', 'race', 'date', 'place', 'horse_id', 'horse_no', 'horse',
       'jockey', 'trainer', 'actual_weight', 'declared_horse_weight', 'draw',
       'lbw', 'running_position', 'win_odds', 'class', 'going', 'track',
       'prize', 'location', 'distance_m', 'finish_time', 'finish_time_s'],
      dtype='object')

In [11]:
df['class'].value_counts()

Class 4                        26537
Class 3                        22565
Class 5                         9672
Class 2                         6566
Class 1                         1070
Group One                        769
Group Three                      454
Hong Kong Group Three            410
Group Two                        374
Griffin Race                     310
Class 4 (Restricted)             254
Hong Kong Group One              204
Class 4 (Special Condition)      164
Hong Kong Group Two              125
4 Year Olds                      112
Restricted Race                  106
Class 3 (Special Condition)       36
Name: class, dtype: int64

In [12]:
df['track'].value_counts()

TURF - "A" Course      16166
TURF - "C" Course      13108
TURF - "C+3" Course    11842
TURF - "B" Course       9776
ALL WEATHER TRACK       8351
TURF - "A+3" Course     5280
TURF - "B+2" Course     5205
Name: track, dtype: int64

In [13]:
df['location'].value_counts()

Sha Tin         45463
Happy Valley    24265
Name: location, dtype: int64

In [14]:
df_trainer =pd.read_csv('../data/trainer.csv')
df_trainer

,Unnamed: 0,trainer,season,pct_1st_last_t,pct_2nd_last_t,pct_3rd_last_t,pct_4th_last_t
0,0,A Bull,2016/2017,0.0,0.0,0.0,0.0
1,1,A Couetil,2017/2018,0.0,0.0,0.0,0.0
2,2,A Fabre,2014/2015,0.0,0.0,0.0,0.0
3,3,A Fabre,2015/2016,100.0,0.0,0.0,0.0
4,4,A Fabre,2016/2017,0.0,50.0,0.0,50.0
...,...,...,...,...,...,...,...
382,382,Y Yahagi,2018/2019,0.0,0.0,100.0,0.0
383,383,de Royer Dupre,2013/2014,0.0,0.0,0.0,0.0
384,384,de Royer Dupre,2015/2016,0.0,0.0,0.0,0.0
385,385,de Royer Dupre,2016/2017,0.0,0.0,100.0,0.0
386,386,de Royer Dupre,2019/2020,0.0,0.0,100.0,0.0

In [32]:
df_test = pd.read_csv('../data/test/test.csv', index_col=[0], parse_dates=['date'])
idx_last_run = df_test[df_test['horse']=='SKY SHOW']['date'].idxmax()
idx_last_run

69368

In [34]:
df_test.loc[idx_last_run,:]

season                                  2020/2021
race_id                                        61
race                                            7
date                          2020-09-27 00:00:00
place                                          10
last_place                                      3
horse_id                                     D099
horse_no                                        9
horse                                    SKY SHOW
jockey                                  J Moreira
trainer                                  K H Ting
actual_weight                                 119
declared_horse_weight                        1203
last_declared_horse_weight                   1210
draw                                            7
last_lbw                                     0.33
last_running_position                     2.33333
win_odds                                      3.4
class                                     Class 3
going                                        GOOD
track                           ALL WEATHER TRACK
prize                                     1500000
location                                  Sha Tin
distance_m                                   1200
rest_day                                       84
finish_time_s                                72.4
pct_1st_last_j                              19.22
pct_2nd_last_j                              17.13
pct_3rd_last_j                              12.67
pct_4th_last_j                               9.47
pct_1st_last_t                                8.5
pct_2nd_last_t                               4.85
pct_3rd_last_t                               6.07
pct_4th_last_t                               8.74
Name: 69368, dtype: object

In [3]:
df=pd.read_csv('../data/schedule/schedule_s2021.csv',dtype={'year':str,'mon':str,'day':str})
df.columns = ['year','month','day']
df['next_race_day']=pd.to_datetime(df)
min_idx=df[df['next_race_day']>pd.Timestamp('today')]['next_race_day'].idxmin()
next_race_day=df.loc[min_idx,'next_race_day']
next_race_day

Timestamp('2020-10-24 00:00:00')

In [6]:
next_race_day.date()

datetime.date(2020, 10, 24)